Repository celestia-org/celestia-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evan-forbes, @rootulp, @cmwaters, @liamsi, @adlerjohn, @SweeXordious

.github/CODEOWNERS:

# CODEOWNERS: <https://help.github.com/articles/about-codeowners/>

# Everything goes through the following "global owners" by default. Unless a later
# match takes precedence, the "global owners" will be requested for review when
# someone opens a PR. Note that the last matching pattern takes precedence, so
# global owners are only requested if there isn't a more specific codeowner
# specified below. For this reason, the global owners are often repeated in
# directory-level definitions.

# global owners
* @evan-forbes @rootulp @cmwaters

# directory owners
# NOTE: the directory owners should include the global owners unless the global
# owner is fully deferring ownership to the directory owner
docs @liamsi @adlerjohn @evan-forbes @rootulp @cmwaters
specs @liamsi @adlerjohn @evan-forbes @rootulp @cmwaters
x/blobstream @SweeXordious @evan-forbes

chore: fix blobstream link (#2712)
  x/blobstream/overview.md
Owners: @SweeXordious, @evan-forbes

chore(deps): replace old qgb contracts repo with blobstream repo (#2709)
  go.mod
  go.sum
  x/blobstream/client/verify.go
  x/blobstream/types/abi_consts.go
  x/blobstream/types/valset.go
Owners: @evan-forbes, @rootulp, @cmwaters, @SweeXordious

fix: override proposer rewards to 0% (#2717)
  app/app.go
  app/default_overrides.go
  app/default_overrides_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore: fix multiplatform builds (#2725)
  Dockerfile
  docker/Dockerfile_txsim
Owners: @evan-forbes, @rootulp, @cmwaters

feat: query earliest attestation nonce (#2724)
  app/test/qgb_rpc_test.go
  proto/celestia/qgb/v1/query.proto
  x/blobstream/keeper/query_general.go
  x/blobstream/types/query.pb.go
  x/blobstream/types/query.pb.gw.go
Owners: @evan-forbes, @rootulp, @cmwaters, @SweeXordious

feat(blobstream): utilizes sdk.Dec type for power difference calculation (#2719)
  x/blobstream/abci.go
  x/blobstream/types/types_test.go
  x/blobstream/types/validator.go
Owners: @SweeXordious, @evan-forbes

fix: restore Ledger support for MacOS 14 (#2740)
  go.mod
  go.sum
Owners: @evan-forbes, @rootulp, @cmwaters

fix(malicious): use constructor NMT options (#2723)
  test/util/malicious/tree.go
Owners: @evan-forbes, @rootulp, @cmwaters

feat: command to convert `peers.txt` into `addrbook.json` (#2623)
  cmd/celestia-appd/cmd/addrbook.go
  cmd/celestia-appd/cmd/root.go
Owners: @evan-forbes, @rootulp, @cmwaters

ci: introduce proto breakage detector (#2671) (#2684)
  .github/workflows/protobuf.yml
  Makefile
Owners: @evan-forbes, @rootulp, @cmwaters

chore: update the default description for tia (#2736)
  app/default_overrides.go
Owners: @evan-forbes, @rootulp, @cmwaters

fix: pre-built binary support for Ubuntu 20.04 (#2728)
  .github/workflows/ci-release.yml
Owners: @evan-forbes, @rootulp, @cmwaters

docs: update adr18 on new upgrade mechanism (#2714)
  docs/architecture/adr-018-network-upgrades.md
Owners: @liamsi, @adlerjohn, @evan-forbes, @rootulp, @cmwaters

docs: Binary Builders audit PDF (#2754)
  README.md
  docs/audit/binary-builders.pdf
Owners: @evan-forbes, @rootulp, @cmwaters, @liamsi, @adlerjohn

docs: fix broken links to docs.celestia.org (#2763)
  tools/blocktime/readme.md
  x/blob/README.md
Owners: @evan-forbes, @rootulp, @cmwaters

docs: fix spelling of compatibility (#2760)
  docs/architecture/adr-015-namespace-id-size.md
  specs/src/specs/cat_pool.md
Owners: @liamsi, @adlerjohn, @evan-forbes, @rootulp, @cmwaters

chore: discard abci responses by default (#2764)
  app/default_overrides.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore: disable API, GRPC, and GRPC web by default (#2761)
  app/default_overrides.go
  app/default_overrides_test.go
  scripts/single-node.sh
Owners: @evan-forbes, @rootulp, @cmwaters

ci: remove markdown-linter as prerequisite to version bump (#2774)
  .github/workflows/ci-release.yml
Owners: @evan-forbes, @rootulp, @cmwaters

ci: add goreleaser-check as a require step for the goreleaser build (#2772)
  .github/workflows/ci-release.yml
Owners: @evan-forbes, @rootulp, @cmwaters

refactor!: move all blob share commitment code to the inclusion package (#2770)
  pkg/da/data_availability_header.go
  pkg/inclusion/blob_share_commitment_rules.go
  pkg/inclusion/blob_share_commitment_rules_test.go
  pkg/inclusion/commitment.go
  pkg/inclusion/commitment_test.go
  pkg/inclusion/paths.go
  pkg/square/builder.go
  pkg/square/square.go
  test/util/malicious/out_of_order_builder.go
  x/blob/types/blob_tx.go
  x/blob/types/blob_tx_test.go
  x/blob/types/payforblob.go
  x/blob/types/payforblob_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

ci: add release_branches to version_bump to fix tag names (#2773)
  .github/workflows/ci-release.yml
Owners: @evan-forbes, @rootulp, @cmwaters

docs: fix typos and link error (#2776)
  specs/src/specs/block_validity_rules.md
  specs/src/specs/cat_pool.md
  specs/src/specs/data_square_layout.md
  specs/src/specs/params.md
  specs/src/specs/resource_pricing.md
  x/blob/README.md
Owners: @liamsi, @adlerjohn, @evan-forbes, @rootulp, @cmwaters

feat(addrbook): skip peers with errors (#2783)
  cmd/celestia-appd/cmd/addrbook.go
Owners: @evan-forbes, @rootulp, @cmwaters

fix: nightly e2e workflow (#2670)
  .github/workflows/nightly.yml
  Makefile
  test/e2e/simple_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

ci: add fuzz tests to nightly run (#2787)
  .github/workflows/nightly.yml
  Makefile
  scripts/test_fuzz.sh
Owners: @evan-forbes, @rootulp, @cmwaters

test: Ledger support (#2782)
  test/ledger/ledger_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

feat: `download-genesis` command (#2791)
  cmd/celestia-appd/cmd/download-genesis.go
  cmd/celestia-appd/cmd/root.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore: remove unnecessary abs operation from power diff (#2798)
  x/blobstream/types/validator.go
Owners: @SweeXordious, @evan-forbes

docs: alphabetize params (#2802)
  specs/src/specs/params.md
Owners: @liamsi, @adlerjohn, @evan-forbes, @rootulp, @cmwaters

refactor(x/blobstream): remove unnecessary code (#2799)
  x/blobstream/abci.go
Owners: @SweeXordious, @evan-forbes

fix: address serialization in PayForBlobs event (#2793)
  x/blob/keeper/keeper.go
  x/blob/keeper/keeper_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

docs: how to add a new chain-id to download genesis (#2812)
  cmd/celestia-appd/cmd/download_genesis.go
  cmd/celestia-appd/cmd/download_genesis_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

test: mempool overrides (#2823)
  app/default_overrides_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

feat(cmd): snapshots command (#2825)
  cmd/celestia-appd/cmd/root.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore: include calculated and proposed data root in log message (#2826)
  app/process_proposal.go
Owners: @evan-forbes, @rootulp, @cmwaters

test: minor version upgrade e2e testing (#2797)
  Makefile
  test/e2e/node.go
  test/e2e/simple_test.go
  test/e2e/upgrade_test.go
  test/e2e/versions.go
  test/e2e/versions_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

feat!: support coordinated v2 upgrade with flag (#2803)
  app/app.go
  app/deliver_tx.go
  app/prepare_proposal.go
  app/process_proposal.go
  cmd/celestia-appd/cmd/root.go
  test/e2e/simple_test.go
  test/e2e/upgrade_test.go
  test/tokenfilter/setup.go
  test/util/malicious/app.go
  test/util/network/network.go
  test/util/test_app.go
  x/upgrade/keeper.go
  x/upgrade/types.go
  x/upgrade/types_test.go
  x/upgrade/upgrade.go
  x/upgrade/upgrade_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

fix: handle context cancellations in txsim (#2830)
  test/txsim/run.go
Owners: @evan-forbes, @rootulp, @cmwaters

fix: register gRPC Gateway routes (#2838)
  x/blob/module.go
  x/blobstream/module.go
Owners: @evan-forbes, @rootulp, @cmwaters, @SweeXordious
