Repository celestia-org/celestia-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evan-forbes, @rootulp, @cmwaters, @liamsi, @adlerjohn, @SweeXordious

.github/CODEOWNERS:

# CODEOWNERS: <https://help.github.com/articles/about-codeowners/>

# Everything goes through the following "global owners" by default. Unless a later
# match takes precedence, the "global owners" will be requested for review when
# someone opens a PR. Note that the last matching pattern takes precedence, so
# global owners are only requested if there isn't a more specific codeowner
# specified below. For this reason, the global owners are often repeated in
# directory-level definitions.

# global owners
* @evan-forbes @rootulp @cmwaters

# directory owners
# NOTE: the directory owners should include the global owners unless the global
# owner is fully deferring ownership to the directory owner
docs @liamsi @adlerjohn @evan-forbes @rootulp @cmwaters
specs @liamsi @adlerjohn @evan-forbes @rootulp @cmwaters
x/blobstream @SweeXordious @evan-forbes

ci: run fuzz tests on every PR (#2845)
  .github/workflows/nightly.yml
  .github/workflows/test.yml
Owners: @evan-forbes, @rootulp, @cmwaters

chore: remove import hack for protobuf any (#2846)
  scripts/protocgen.sh
Owners: @evan-forbes, @rootulp, @cmwaters

test: add major upgrade test from v1 -> main (latest) (#2814)
  Makefile
  test/e2e/node.go
  test/e2e/readme.md
  test/e2e/setup.go
  test/e2e/simple_test.go
  test/e2e/testnet.go
  test/e2e/upgrade_test.go
  test/e2e/versions.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore: lower the default mempool min gas price (#2843)
  app/default_overrides_test.go
  pkg/appconsts/initial_consts.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore: disable CodeRabbit poems (#2855)
  .coderabbit.yaml
Owners: @evan-forbes, @rootulp, @cmwaters

chore: disable CodeCov comments (#2851)
  .github/codecov.yml
Owners: @evan-forbes, @rootulp, @cmwaters

docs: remove unused badges (#2849)
  README.md
Owners: @evan-forbes, @rootulp, @cmwaters

docs: move optional step into collapsible details (#2850)
  README.md
Owners: @evan-forbes, @rootulp, @cmwaters

test: generateShares(2 * 2) (#2853)
  pkg/da/data_availability_header_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

ci: disable CodeRabbit high level summary (#2863)
  .coderabbit.yaml
Owners: @evan-forbes, @rootulp, @cmwaters

chore: bump sdk to v1.20.0 (#2860)
  app/app.go
  app/prepare_proposal.go
  app/process_proposal.go
  app/square_size.go
  app/test/integration_test.go
  cmd/celestia-appd/cmd/root.go
  go.mod
  go.sum
  test/e2e/simple_test.go
  test/e2e/upgrade_test.go
  test/util/malicious/out_of_order_prepare.go
  x/blob/ante/max_total_blob_size_ante.go
  x/upgrade/upgrade_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

test!: attempt to resolve flakes (#2834)
  app/test/block_production_test.go
  app/test/integration_test.go
  app/test/max_total_blob_size_test.go
  app/test/square_size_test.go
  app/test/unit_test.go
  pkg/square/square_test.go
  test/util/testnode/accounts.go
  test/util/testnode/accounts_test.go
  test/util/testnode/full_node_test.go
  test/util/testnode/node_interaction_api.go
  x/blob/client/testutil/integration_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

feat!: add a signalling mechanism for coordinated upgrades (#2832)
  app/app.go
  app/version.go
  proto/celestia/upgrade/v1/query.proto
  proto/celestia/upgrade/v1/tx.proto
  proto/celestia/upgrade/v1/types.proto
  x/upgrade/ibc.go
  x/upgrade/interfaces.go
  x/upgrade/keeper.go
  x/upgrade/module.go
  x/upgrade/tally_test.go
  x/upgrade/types.go
  x/upgrade/types.pb.go
  x/upgrade/types/codec.go
  x/upgrade/types/errors.go
  x/upgrade/types/msgs.go
  x/upgrade/types/query.pb.go
  x/upgrade/types/query.pb.gw.go
  x/upgrade/types/tx.pb.go
  x/upgrade/types/tx.pb.gw.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore: remove unused store keys (#2881)
  app/app.go
  test/util/keeper/blob.go
  x/blob/keeper/gas_test.go
  x/blob/keeper/genesis_test.go
  x/blob/keeper/grpc_query_params_test.go
  x/blob/keeper/keeper.go
  x/blob/keeper/keeper_test.go
  x/blob/keeper/params_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore(deps): Bump golangci-lint to v1.55.2 (#2886)
  .github/workflows/lint.yml
  README.md
Owners: @evan-forbes, @rootulp, @cmwaters

feat!: introduce MsgTryUpgrade (#2880)
  proto/celestia/upgrade/v1/tx.proto
  x/upgrade/keeper.go
  x/upgrade/module.go
  x/upgrade/tally_test.go
  x/upgrade/types/msgs.go
  x/upgrade/types/tx.pb.go
  x/upgrade/types/tx.pb.gw.go
Owners: @evan-forbes, @rootulp, @cmwaters

test: TestGasConsumption (#2885)
  pkg/user/signer_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

feat: reset tally after quorum has reached (#2882)
  app/app.go
  x/upgrade/keeper.go
  x/upgrade/tally_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore: distinct require blocks for direct vs indirect deps (#2892)
  go.mod
Owners: @evan-forbes, @rootulp, @cmwaters

ci: improve name for pr-review-requester (#2890)
  .github/workflows/pr-review-requester.yml
Owners: @evan-forbes, @rootulp, @cmwaters

test!: refactor testnode (#2871)
  app/test/max_total_blob_size_test.go
  test/cmd/txsim/cli_test.go
  test/util/testnode/app_options.go
  test/util/testnode/config.go
  test/util/testnode/full_node.go
  test/util/testnode/full_node_test.go
  test/util/testnode/network.go
  test/util/testnode/rpc_client.go
  x/mint/test/mint_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

feat: prebuilt binaries with Ledger support (#2872)
  .github/workflows/ci-release.yml
  .gitignore
  .goreleaser.yaml
  Makefile
  README.md
  scripts/signing/celestia-app-maintainers.asc
  scripts/signing/verify-signature.sh
Owners: @evan-forbes, @rootulp, @cmwaters

ci: configure prerelease-suffix (#2898)
  .goreleaser.yaml
Owners: @evan-forbes, @rootulp, @cmwaters

feat: Use file input in payForBlobs CLI to allow to submit multiple blobs (#2856)
  x/blob/client/cli/payforblob.go
  x/blob/client/cli/util.go
  x/blob/client/testutil/integration_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

feat: introduce cli commands for the upgrade module (#2910)
  app/app.go
  app/test/integration_test.go
  app/test/std_sdk_test.go
  test/util/genesis/genesis.go
  test/util/test_app.go
  test/util/testnode/config.go
  x/upgrade/cli/cli_test.go
  x/upgrade/cli/query.go
  x/upgrade/cli/tx.go
  x/upgrade/integration_test.go
  x/upgrade/keeper.go
  x/upgrade/module.go
  x/upgrade/tally_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

feat: Testground tooling (#2456)
  app/test/integration_test.go
  go.work
  go.work.sum
  pkg/appconsts/testground/app_consts.go
  pkg/appconsts/versioned_consts.go
  test/testground/Dockerfile
  test/testground/README.md
  test/testground/compositions/standard/plan.toml
  test/testground/compositions/utils.go
  test/testground/go.mod
  test/testground/go.sum
  test/testground/main.go
  test/testground/manifest.toml
  test/testground/network/command.go
  test/testground/network/command_test.go
  test/testground/network/configurators.go
  test/testground/network/consensus_node.go
  test/testground/network/entry_point.go
  test/testground/network/follower.go
  test/testground/network/leader.go
  test/testground/network/params.go
  test/testground/network/role.go
  test/testground/network/sync.go
  test/util/genesis/modifier.go
  test/util/testnode/config.go
  test/util/testnode/full_node.go
  test/util/testnode/full_node_test.go
  test/util/testnode/network.go
  test/util/testnode/rpc_client.go
Owners: @evan-forbes, @rootulp, @cmwaters

test: versioned constant getters (#2915)
  pkg/appconsts/versioned_consts_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

ci(goreleaser): set fetch-depth to 0 (#2917)
  .github/workflows/ci-release.yml
Owners: @evan-forbes, @rootulp, @cmwaters

chore(pkg): typo fix (#2920)
  pkg/appconsts/global_consts.go
  pkg/wrapper/nmt_wrapper_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore(pkg): Add vendor to gitignore (#2921)
  .gitignore
Owners: @evan-forbes, @rootulp, @cmwaters

chore: fix all typos on the repository (#2926)
  app/ante/ante.go
  app/process_proposal.go
  app/test/fuzz_abci_test.go
  docs/architecture/adr-006-non-interactive-defaults.md
  docs/architecture/adr-012-sequence-length-encoding.md
  docs/architecture/adr-014-versioned-namespaces.md
  docs/architecture/adr-015-namespace-id-size.md
  docs/architecture/adr-018-network-upgrades.md
  docs/architecture/adr-019-strict-inflation-schedule.md
  docs/architecture/adr-020-deterministic-square-construction.md
  pkg/inclusion/nmt_caching.go
  pkg/shares/namespace.go
  pkg/square/builder.go
  pkg/square/square_test.go
  pkg/user/signer.go
  proto/celestia/core/v1/da/data_availability_header.pb.go
  proto/celestia/core/v1/da/data_availability_header.proto
  proto/tendermint/crypto/proof.proto
  scripts/build-run-single-node.sh
  specs/src/specs/block_validity_rules.md
  specs/src/specs/data_structures.md
  specs/src/specs/params.md
  test/testground/README.md
  test/testground/manifest.toml
  test/testground/network/configurators.go
  test/testground/network/consensus_node.go
  test/txsim/send.go
  test/util/malicious/hasher.go
  test/util/malicious/test_app.go
  x/blob/README.md
  x/blob/types/payforblob.go
  x/blobstream/README.md
  x/mint/types/constants.go
Owners: @evan-forbes, @rootulp, @cmwaters, @liamsi, @adlerjohn, @SweeXordious

chore(pkg/user): fix typo (#2929)
  pkg/user/signer.go
Owners: @evan-forbes, @rootulp, @cmwaters

docs: corrections and clarifications (#2937)
  docs/architecture/adr-020-deterministic-square-construction.md
  pkg/wrapper/README.md
  test/testground/README.md
  x/blobstream/README.md
Owners: @liamsi, @adlerjohn, @evan-forbes, @rootulp, @cmwaters, @SweeXordious

test: skip TestCLITestSuite in race mode (#2941)
  Makefile
Owners: @evan-forbes, @rootulp, @cmwaters

test: delete `.celestia-app/data` during testnode clean up (#2931)
  test/util/testnode/rpc_client.go
Owners: @evan-forbes, @rootulp, @cmwaters

fix(testground): updates the app version in testground test (#2951)
  go.work.sum
  test/testground/go.mod
  test/testground/go.sum
Owners: @evan-forbes, @rootulp, @cmwaters

feat(upgrade): register legacy amino json (#2954)
  x/upgrade/types/codec.go
  x/upgrade/types/msgs.go
Owners: @evan-forbes, @rootulp, @cmwaters

docs: add FAQ to blob specs (#2940)
  go.work.sum
  proto/celestia/blob/v1/tx.proto
  x/blob/README.md
  x/blob/test/decode_blob_tx_test.go
  x/blob/test/testdata/block_response.json
  x/blob/types/tx.pb.go
Owners: @evan-forbes, @rootulp, @cmwaters

refactor: remove `RegisterCodec` (#2961)
  x/blob/module.go
  x/blobstream/module.go
Owners: @evan-forbes, @rootulp, @cmwaters, @SweeXordious

feat: SetGasLimitAndFee should round up (#2963)
  pkg/user/tx_options.go
Owners: @evan-forbes, @rootulp, @cmwaters
