Repository celestia-org/celestia-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evan-forbes, @rootulp, @cmwaters, @liamsi, @adlerjohn, @SweeXordious

.github/CODEOWNERS:

# CODEOWNERS: <https://help.github.com/articles/about-codeowners/>

# Everything goes through the following "global owners" by default. Unless a later
# match takes precedence, the "global owners" will be requested for review when
# someone opens a PR. Note that the last matching pattern takes precedence, so
# global owners are only requested if there isn't a more specific codeowner
# specified below. For this reason, the global owners are often repeated in
# directory-level definitions.

# global owners
* @evan-forbes @rootulp @cmwaters

# directory owners
# NOTE: the directory owners should include the global owners unless the global
# owner is fully deferring ownership to the directory owner
docs @liamsi @adlerjohn @evan-forbes @rootulp @cmwaters
specs @liamsi @adlerjohn @evan-forbes @rootulp @cmwaters
x/blobstream @SweeXordious @evan-forbes

chore: update go work (#2964)
  go.work.sum
Owners: @evan-forbes, @rootulp, @cmwaters

ci: remove version_bump job (#2962)
  .github/workflows/ci-release.yml
  .github/workflows/goreleaser.yml
Owners: @evan-forbes, @rootulp, @cmwaters

docs: add column for governance modifiable params in resource_pricing (#2974)
  specs/src/specs/resource_pricing.md
Owners: @liamsi, @adlerjohn, @evan-forbes, @rootulp, @cmwaters

chore: remove unnecessary conversions (#2975)
  .golangci.yml
  app/default_overrides.go
  app/default_overrides_test.go
  pkg/proof/proof.go
  pkg/shares/info_byte.go
  pkg/shares/shares.go
  pkg/square/square_test.go
  test/txsim/account.go
  x/mint/test/mint_test.go
  x/mint/types/constants.go
  x/upgrade/types/msgs.go
Owners: @evan-forbes, @rootulp, @cmwaters

ci: enable govulncheck (#2969)
  .github/workflows/codeql.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/test.yml
  Makefile
  README.md
  go.mod
  go.work
  go.work.sum
  test/testground/Dockerfile
  test/testground/compositions/standard/plan.toml
  test/testground/go.mod
Owners: @evan-forbes, @rootulp, @cmwaters

refactor: remove ValidateBasic in cli (#2971)
  x/blobstream/client/tx.go
  x/upgrade/cli/tx.go
Owners: @SweeXordious, @evan-forbes, @rootulp, @cmwaters

feat: add support for arabica-11 in download-genesis command (#2978)
  cmd/celestia-appd/cmd/download_genesis.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore: bump core v1.31.0-tm-v0.34.29 (#2979)
  Makefile
  go.mod
  go.sum
  go.work.sum
  test/testground/go.mod
  test/testground/go.sum
Owners: @evan-forbes, @rootulp, @cmwaters

feat: kebab-case pay-for-blob command (#2989)
  x/blob/client/cli/payforblob.go
Owners: @evan-forbes, @rootulp, @cmwaters

fix: CLI help for PayForBlob (#2991)
  x/blob/client/cli/payforblob.go
Owners: @evan-forbes, @rootulp, @cmwaters

refactor: Imporve signer confirm tx (#2970)
  pkg/user/signer.go
  pkg/user/signer_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore: update core to revert breaking config change (#3002)
  Makefile
  go.mod
  go.sum
  go.work.sum
  test/testground/go.mod
  test/testground/go.sum
Owners: @evan-forbes, @rootulp, @cmwaters

feat: expose sequence number correctly to users of the signer (#2992)
  pkg/user/signer.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore(deps): upgrade to Go 1.21.6 (#3005)
  .github/workflows/codeql.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  README.md
  docker/Dockerfile_txsim
  go.mod
  go.work
  go.work.sum
  test/testground/Dockerfile
  test/testground/compositions/standard/plan.toml
  test/testground/go.mod
Owners: @evan-forbes, @rootulp, @cmwaters

docs: specs for multisig (#2996)
  specs/src/README.md
  specs/src/SUMMARY.md
  specs/src/specs/multisig.md
Owners: @liamsi, @adlerjohn, @evan-forbes, @rootulp, @cmwaters

test: use app constants (#3009)
  app/ante/fee_checker_test.go
  app/ante/gov_test.go
  go.work.sum
Owners: @evan-forbes, @rootulp, @cmwaters

feat!: reject proposals with un-decodable txs for appVersion two and above (#3006)
  app/process_proposal.go
  app/test/process_proposal_test.go
Owners: @evan-forbes, @rootulp, @cmwaters

chore(deps): pin to govulncheck v1.0.1 (#3019)
  Makefile
  go.work.sum
Owners: @evan-forbes, @rootulp, @cmwaters

docs: add namespace Go definition to specs (#3021)
  specs/src/specs/namespace.md
Owners: @liamsi, @adlerjohn, @evan-forbes, @rootulp, @cmwaters
